/* - Orange: #CC4B00 (Links)
- Yellow: #FFC700 (Navigation highlight)
- Light Blue: #006EF5 (Branding)
- Blue: #004EAE (Search and Small screen navigation)
- Dark Blue: #013371 (hover/focus in navigation)
- Gray: #767676 (Meta info and placeholder text)
- Dark Gray: #333333 (Content and in-form search icon)
- White: #FFFFFF (Header links / icons and search input) */

/* - Headings: 36px
- Navigation: 18px
- Forms: 16px
- Content: 14px 

## Spacing
- Gutters are in increments of 5px although most are set to 20px*/

/*
 * Globals
 */

body {
  font-family: "Raleway", sans-serif;
  color: #555;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
  }
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #006ef5;
  line-height: 50px;
}

.site-name a {
  color: #ffffff;
  font-size: 18px;
}

/* Nav links */
.nav-bar {
  background-color: #004eae;
}
.blog-nav-item {
  position: relative;
  display: inline-block;
  height: 50px;
}

.blog-nav-item li {
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-bottom: 15px;
}

.page_item a {
  color: #fff;
  text-decoration: underline;
  font-size: 16px;
}
.page_item:hover a,
.page_item :focus a {
  color: #fff;
  text-decoration: underline;
}

.current_page_item {
  background-color: #013371;
}
.current_page_item a,
.current_page_parent a {
  color: #ffc700;
}

.blog-main {
  display: flex;
  font-size: 18px;
  line-height: 1.5;
}

.blog-row {
  display: flex;
}

.feat-img {
  margin-top: 20px;
}
.post-content {
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
/* .blog-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
} */
.blog-post-title a {
  margin-bottom: 5px;
  font-size: 40px;
  color: #cc4b00;
  text-decoration: underline;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
  font-size: 14px;
}

.post-excerpt p {
  font-size: 14px;
  margin-bottom: 5px;
}
.read-more {
  color: #cc4b00;
  text-decoration: underline;
  font-size: 14px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.blog-post-top {
  text-align: center;
}

