@import "./variables.scss";

.page_item a {
  color: $white;
  text-decoration: underline;
  font-size: 16px;
}
.page_item:hover a,
.page_item :focus a {
  color: $white;
  text-decoration: underline;
}

.current_page_item {
  background-color: $darkBlue;
}
.current_page_item a,
.current_page_parent a {
  color: $yellow;
}

.blog-main {
  display: flex;
  font-size: 18px;
  line-height: 1.5;
}

.blog-row {
  display: flex;
}
@include for-size(phone) {
  .blog-row {
    flex-direction: column;
  }
}

.feat-img {
  margin-top: 20px;
}
.post-content {
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

@include for-size(phone) {
  .post-content {
    width: 85%;
    margin-left: 25px;
  }
  .wp-post-image {
    width: 328px;
    height: 200px;
    margin-left: 20px;
  }
}
.blog-post-title a {
  margin-bottom: 5px;
  font-size: 40px;
  color: $orange;
  text-decoration: underline;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: $gray;
  font-size: 14px;
}

.post-excerpt p {
  font-size: 14px;
  margin-bottom: 5px;
}
.read-more {
  color: $orange;
  text-decoration: underline;
  font-size: 14px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $gray;
}

.blog-post-top {
  text-align: center;
}
