@import "./variables.scss";

.blog-masthead {
  background-color: $lightBlue;
  line-height: 50px;
}

.site-name a {
  color: $white;
  font-size: 18px;
}

.blog-nav-item {
  position: relative;
  display: inline-block;
  height: 50px;
}

.blog-nav-item li {
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-bottom: 15px;
}

.nav-bar {
  background-color: $blue;
}
@include for-size(desktop) {
  .navbar {
    display: none;
  }
}

@include for-size(phone) {
  .nav-bar {
    display: none;
  }
  .navbar {
    padding-left: 1px;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .site-name {
    text-align: center;
    width: 5px;
    margin-left: 97px;
  }
  .name-txt {
    display: none;
  }
}
