@import "./components/header.scss";
@import "./components/body.scss";
@import "./components/variables.scss";

body {
  font-family: "Raleway", sans-serif;
  color: $darkGray;
}

a {
  color: $orange;
}
