@import "./components/header.scss";
@import "./components/body.scss";

/* - Orange: #CC4B00 (Links)
- Yellow: #FFC700 (Navigation highlight)
- Light Blue: #006EF5 (Branding)
- Blue: #004EAE (Search and Small screen navigation)
- Dark Blue: #013371 (hover/focus in navigation)
- Gray: #767676 (Meta info and placeholder text)
- Dark Gray: #333333 (Content and in-form search icon)
- White: #FFFFFF (Header links / icons and search input) */

/* - Headings: 36px
- Navigation: 18px
- Forms: 16px
- Content: 14px 

## Spacing
- Gutters are in increments of 5px although most are set to 20px*/

body {
  font-family: "Raleway", sans-serif;
  color: #555;
}

a {
  color: #cc4b00;
}
